<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <p>Plant<br>Findr</p>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/upload">Upload</a>
        <a href="/finalplant">Final Plant</a>
    </div>
</div>


<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="heading">
    <p>Plantfindr is your digital companion for exploring the botanical world. Our progressive web application enables you to record, view, and discuss various plant species with ease. Whether you’re a budding botanist or just curious about the greenery around you, Plantfindr is your gateway to learning more about plants. </p>
    <h1>Final Plants</h1>
    <p>Plant Name: <%= plantName %></p>
    <p>Date and Time: <%= dateTime %></p>
    <p>Plant Size: <%= plantSize %></p>

</div>
</body>
</html>
