<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('partials/_header') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <div class="heading">
    <p>Plantfindr is your digital companion for exploring the botanical world. Our progressive web application enables you to record, view, and discuss various plant species with ease. Whether you’re a budding botanist or just curious about the greenery around you, Plantfindr is your gateway to learning more about plants. </p>
  </div>

<div class="plant-container">
  <% plants.forEach((plant) => { %> <!-- Changed 'data' to 'plants' -->
  <a href="/plant/<%= encodeURIComponent(plant.plantName) %>" class="plant-box">
  <h2> <%= plant.plantName %></h2>
  <p><%= plant.dateTime %></p>
  <% if (plant.plantPhoto) { %>
    <img src="<%= plant.plantPhoto %>" width="200" height="200">
  <% } %>
  </a>
  <% }); %>
</div>
</body>
</html>
