<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/details.css' />
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="https://unpkg.com/idb@5.0.4/build/iife/index-min.js"></script>
  <script src="/javascripts/chat.js" defer></script>
</head>
<body>
  <%- include('partials/_header') %>
  <div class="details-container">

    <div class="image-map-container">
      <img class="plant-photo" src="<%= plant.plantPhoto %>" alt="Plant Photo">
      <div id="map" style="height: 400px;"></div>
    </div>
    <h1><%= plant.plantName %></h1>

    <!-- Chat container -->
    <div class="chat-container">
      <div class="chat-header">
        <h4>Chat</h4>
      </div>
      <div id="chat-messages" class="chat-messages">
        <!-- Messages will be added here -->
      </div>
      <div class="chat-input">
        <input type="hidden" id="plantID" value="<%= plant._id %>">
        <input type="text" id="chat_input" placeholder="Type a message...">
        <button type="button">Send</button>
      </div>
    </div>

    <!-- Details container -->
    <div class="details">
      <p class="short" data-label="Characteristics: "><%= plant.plantCharacteristics %></p>
      <p data-label="Uploaded by: "><%= plant.username %></p>
      <p class="long" data-label="DBpedia: "><%= plant.description %></p>
      <p class="date" data-label="Time: "><%= plant.dateTime %></p>
      <p data-label="Size: "><%= plant.plantSize %></p>
      <p data-label="Scientific Name: "><%= plant.taxon %></p>
      <p data-label="For more Info: "><a href="<%= plant.plantUri %>"><%= plant.plantUri %></a></p>
    </div>

  </div>
  <script>
    function initMap() {
      var plantLocation = JSON.parse('<%- JSON.stringify(plant.location) %>');
      var pos = { lat: plantLocation.coordinates[1], lng: plantLocation.coordinates[0] };
      var map = new google.maps.Map(document.getElementById('map'), {
        center: pos,
        zoom: 6
      });
      var marker = new google.maps.Marker({
        position: pos,
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhZ5Qt2ta-Pb71y5QViO2DPXuRVJmOFvI&callback=initMap"></script>
</body>
</html>
